body {
    margin: 0px;
    background-color: #ffa500;
    height: 100%;
}

#nav_icon {
    width: 50px;
    height: 40px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px red;
    transform: rotate(-15deg);
}

.containers {
    float: left;
    margin-top: 0.5%;
    background-color: darkslategray;
    box-shadow: 2px 2px 20px 2px black;
    height: 81%;
    outline-style: none;
}

.containers:hover {
    box-shadow: 2px 2px 20px red;
    transition-duration: 2s;
}

#container1 {
    margin-left: 1%;
    width: 20%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    outline-style: none;
}

#textsiz {
    font-size: 20;
}

#workarea {
    margin-left: 1%;
    width: 77%;
    padding: 20px 20px 20px 20px;
    outline-style: none;
    background-color: aliceblue;
}

#c1_header {
    margin-top: 1%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 2px 2px 20px 2px black;
}

.effect_container {
    background-image: url("Image/1.jpg");
    margin: 20px 3px 0px 3px;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 50%;
    outline-style: none;
}

.effect_container_header {
    background-image: url("Image/6.jpg");
    color: white;
    width: 100%;
    margin-bottom: 10%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 5px 10px red;
    outline-style: none;
}

.R1btn {
    border: none;
    border-radius: 30px;
    background-image: url("Image/3.jpg");
    color: white;
    box-shadow: 2px 2px 10px black;
    outline-style: none;
    margin-top: 10px;
}

.R1btn:hover {
    box-shadow: 2px 2px 20px purple;
    outline-style: none;
}

#urlClass {
    margin-top: 5%;
    background-image: url("Image/3.jpg");
    color: white;
    width: 100%;
    outline-style: none;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    align-items: center;
    font-family: cursive;
    margin-bottom: 5%;
    text-align: center;
    outline-style: none;
}

select {
    margin-top: 5%;
    background-image: url("Image/3.jpg");
    color: white;
    width: 100%;
    outline-style: none;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    align-items: center;
    font-family: cursive;
    margin-bottom: 5%;
    outline-style: none;
}

#fontradio{
    width: 100%;
    height: 50px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0px 2px 0px 5px;
    background-image: url("Image/3.jpg");
    color: whitesmoke;
    border-radius: 10px;
    outline-style: none;
    text-align: center;
    margin-bottom: 8px;
}

.color {
    margin-top: 5%;
    background-image: url("Image/3.jpg");
    height: 5%;
    outline-style: none;
    border: none;
    outline-style: none;
}

.colorText {
    margin-top: 5%;
    width: 79%;
    background-image: url("Image/3.jpg");
    border: none;
    outline-style: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-bottom: 6px;
    outline-style: none;
}


.bg_changer {
    height: 20%;
    width: 21%;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px green;
    cursor: grab;
    outline-style: none;

}
